<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <property name="LOG_HOME" value="logs"/>
    <property name="appName" value="itoaService"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>



    <logger name="slick" level="DEBUG"/>
    <logger name ="java.sql" level="Debug" />
    <logger name="slick.jdbc.JdbcBackend.statement"         level="${log.jdbc.statement:-info}" />
    <logger name="slick.jdbc.JdbcBackend.parameter"         level="${log.jdbc.parameter:-info}" />
    <logger name="slick.jdbc.JdbcBackend.benchmark"         level="${log.jdbc.bench:-info}" />
    <logger name="slick.jdbc.StatementInvoker.result"       level="${log.jdbc.result:-info}" />
    <logger name="slick.jdbc.JdbcModelBuilder"              level="${log.createModel:-info}" />
    <logger name="slick.compiler"              level="${log.createModel:-info}" />
    <logger name="com.zaxxer"              level="${log.createModel:-info}" />
    <logger name="org.apache.kafka.clients.consumer.internals" level="info"/>
    <root level="debug">  <!-- Options: ERROR, WARN, INFO, DEBUG -->
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>